body {
    background-color: rgb(235, 235, 203);
    margin: 0 auto;
    padding: 0;
}

.title {
    text-align: center;
    /* position: fixed; */
    margin-top: 50px;
    font-family: monaco, Consolas, Lucida Console, monospace;
    color: black;
    font-size: 50px;
}

.board-container {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    height: 250px;
    text-align: center;
}

table{
    margin: 0 auto;
    table-layout: auto;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    font-size: medium;
    background-color: white;
}

td:hover {
    background-color: gray;
}

/* .show {
    background-color: gray;
} */

.timer {
    /* margin: auto; */
    margin-top: 5px;
    position: absolute;
    margin-left:950px;
    font-size: 30px;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.count-mark {
    margin-top: 5px;
    margin-left: 600px;
    font-size: 30px;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.buttons .btn {
    font-family: Trattatello, fantasy;
    /* margin-right: -100px ; */
    font-size: large;
    border-radius: 12px;
}

.buttons {
    margin-left: 750px;
    margin-top: 40px;
}

.btn:hover {
    cursor: pointer;
}
.lives{
    margin-top: 20px;
    margin-left: 810px;
}
.icon{
    margin-top: 30px;
    margin-left: 830px;
    font-size: medium;
}
.icon:hover{
cursor: pointer;
}
.victory{
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    color: green;
}